* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background: url(./img/fondo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
svg {
  max-width: 500px;
}
.content {
  transform: translate(7%, 22%);
}
.letering {
  fill: none;
  stroke: #5ba3f5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke-dasharray: 3500;
  stroke-dashoffset: 3500;

  /* animation: animacion 3s ease-in forwards; */
}
.letering_1 {
  animation: animacion 6s ease-in forwards;
}
.corazon {
  fill: none;
  stroke: rgba(190, 19, 19, 0.425);
  stroke-width: 2px;
  width: 100px;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  /* animation: animacion 3s ease-in forwards; */
}
.corazon_2 {
  animation: animacion 2s ease-in forwards;
}
@keyframes animacion {
  to {
    stroke-dashoffset: 0;
  }
}

.btn {
  display: flex;
  justify-content: center;
}
button {
  background: #5ba3f5;
  border: 3px solid rgba(190, 19, 19, 0.438);
  margin-top: 50px;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  border-radius: 50px;
  letter-spacing: 1px;
  animation: boton 0.5s ease-in alternate infinite;
}

@keyframes boton {
  to {
    transform: scale(1.2);
  }
}
